{% extends "notes/base.html" %}

{% block title %}My notes{% endblock %}

{% block content %}
    <h2>My notes</h2>
    {% for note in notes %}
        <h3>
        <a href="{{ note.get_absolute_url }}">
            {{ note.title }}
        </a></h3>
        <p class="date">
            Written by {{ note.author }} at {{ note.created }}
        </p>
        <p class="urgency">Urgency: {{ note.urgency }}</p>
        {{ note.body|truncatewords:30|linebreaks }}
    {% endfor %}

    {% include "notes/pagination.html" with page=page_obj %}
{% endblock %}
